  <div class='body'>
    <div class='container'>

      <p id="notice"></p>
      <div class='row'>
        <div class="row">
          <h2>Log in</h2>
        </div>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="row">
          <label>Name</label><br />
          <%= f.text_field :name, autofocus: true %>
        </div>
        <div class="row">
          <label>Password</label><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <div class="row">
          <input name="user[remember_me]" type="hidden" value="0" /><input type="checkbox" value="1" name="user[remember_me]" id="user_remember_me" />
          <label for="user_remember_me">Remember me</label>
        </div>
        <div class="row">
          <%= f.submit "Log in", class:"btn btn-primary btn-sm" %>
        </div>
        <% end %>
        <div class="row">
          <a href="/users/sign_up">Sign up</a><br />
        </div>
        <div class="row">
          <a href="/users/password/new">Forgot your password?</a><br />
        </div>
      </div>
    </div>
  </div>
